html, body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 150%;
  padding-top: 5%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
  font-weight: 500;
  color: #001A57;
}

ul {
  list-style-type: none;
}


